old/*
organizationFall.png
16-AOAS1008-1.pdf
.RData
.Rhistory
20230822_summaryMeeting.txt
20231003_MeetingYall.txt
*.exe
mod1_40ch_samples.rds
mod1_output_stan.rds
mod_v1_output_stan.rds
mod1_results_230720.rds
mod1_v1_output_stan_1chain.rds
mod1_v2_output_stan.rds
mod1_v1_output_stan.rds
*/output_rcpp_parallel_pt_m_*
*/sample-function.cpp
*/sim_lp__*
mcmc/extra/*
plots/*
mod2/dummy/*
mod2/main-log-lik-semi-3-roptim*
mod2/main-log-lik-semi-4-roptim*
mod2/main-log-lik-semi-5-roptim*
mod2/main-log-lik-semi-3-roptim*
mod2/semiMles*

mod4/semiMles_mod*
server/mod1_v1-1-*
server/output_pt_m_tidy.rds
server/output_pt_m_tidy_10temp.rds

server/test-hyper/*
server/test-hyper2/*

progress-presentation/presentation_v1_cache
progress-presentation/presentation_v1_files
progress-presentation/presentation_v2Rmd_cache
progress-presentation/presentation_v2Rmd_files
progress-presentation/progress_cache
progress-presentation/progress_files
progress-presentation/technical-report_cache
progress-presentation/technical-report_files
progress-presentation/

!server/mod1_v1-1_40ch.R
!mod2/semiMles_5.RDS
!mod2/semiMles_4.RDS